<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVA3_PERSISTENCIA_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29966C061EC222FF00722E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29966C1A1EC222FF00722E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29966C251EC222FF00722E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
