<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVA3_7_LISTA_ARCHIVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29D684E71EC4C57300D60E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29D684FB1EC4C57300D60E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29D685061EC4C57300D60E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
