<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVA3_9_ARCHIVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2992CA5B1ECCB0A2000198AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2992CA6F1ECCB0A2000198AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2992CA7A1ECCB0A2000198AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
